<div class="aboutme-content">
    <h2>about me</h2> 
    <div class="aboutme-details">
        <div class="edicational-content">
            <h2 class="year-header">2011-15</h2>                
            <h3>bachelor of technology : cse</h3>
            <p class="description-p">
                graduated Biju Patnaik University of Technology with computer science as major
            </p>
        </div> 
        <div class="contact-me">
            <p class="description-p">
                feel free to drop me an email in case you want to know more about me!
            </p>            
            <a href="mailto:abhishek.abhishek2011@gmail.com">                
                <button class="mail-link">get in touch</button>
            </a>            
        </div>           
    </div>        
</div>