.aboutme-content{
    padding-left: 125px;
    padding-right: 65px;
}

.year-header {
    background: linear-gradient(to right, var(--purple), var(--blue));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 25px;
}

.description-p {
    width: 200px;
    text-align: left;
    background: linear-gradient(to right,var(--light-purple), var(--light-blue));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 17px;
    font-family: system-ui;
}

.aboutme-details {
    display: flex;  
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;  
}

.edicational-content{
    margin: 5px;
}

.contact-me{
    margin: 5px;
}

.mail-link {
    background: linear-gradient(to right, var(--orange), var(--magenta));
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 1s ease-out;
}

.mail-link:hover{    
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px var(--box-shadow);
    background: linear-gradient(to right, var(--magenta), var(--orange));
}