<div id="main-container">
  <div class="header">
    <h1 style="font-size: 40px;">Abhishek Yadav</h1>
    <div class="capabilities-header">
      <label>Projects</label>
      <label>Technologies</label>
      <label>About Me</label>
    </div>
    <div class="social-link">
      <div class="social-image-container">      
        <img src="../assets/linkedin.png" alt="Linkedin: Abhishek yadav" class="social-image">           
      </div>
      <div class="social-image-container">
        <a href="https://www.linkedin.com/in/abhishekyadav2/" target="_blank">
          <img src="../assets/github.png" alt="Github: Abhishek yadav" class="social-image">
        </a>                   
      </div>
    </div>
  </div>
  <div id="content" class="content">
    <div id="about-section">
      <h1 class="capabilities-label">Hello, I'm Abhishek Yadav,</h1>
      
      <h2>full stack developer</h2>
      <p class="introduction-p">
        highly accomplished and seasoned Senior Software Engineer with over 8years of experience
        in full-stack .NET development. 
        Currently Working as Research and Development Engineer in Siemens. A results-driven professional 
        known for delivering robust, scalable, and high-performance software solutions.
        Proficient in the complete software development lifecycle, from requirements analysis 
        and design to implementation, testing, and deployment.
      </p>
      <button (click)="open()" class="download-link">Download Resume</button>
    </div>
    <div class="image-container">      
      <img src="../assets/abhishekyadav.png" alt="Abhishek yadav" class="circular-image">           
    </div>
  </div>
</div>