<div class="workex-content">
    <h2>work experiences</h2>
    <div class="time-line">
        <div class="time-line-bubble" style="left:10%"></div>
        <div class="time-line-bubble" style="left: 41%"></div>
        <div class="time-line-bubble" style="left: 71%"></div>
    </div>    
    <div class="timeline">
        <div class="mindtree-container">
            <div class="mindtree-content">
                <h2 class="year-header">2016</h2>                
                <h3>Mindtree Ltd, Bangalore</h3>
                <p class="description-p">
                    joined the organization right after the college and got trained in .Net technologies.
                    i got chance to work on multiple enterprise grade software solutions as .Net fullstack developer
                </p>
            </div>            
        </div>
        <div class="pwc-container">
            <div class="pwc-content">
                <h2 class="year-header">2019</h2>                
                <h3>PwC, Bangalore</h3>
                <p class="description-p">
                    worked as a senior .Net fullstack developer in one of pwc's core assurance product. 
                    designed and developed some core modules of the software, also helped the team to reduce tech debt
                </p>
            </div>            
        </div>
        <div class="siemens-container">
            <div class="siemens-content">
                <h2 class="year-header">2021</h2>                
                <h3>Siemens, Bangalore</h3>
                <p class="description-p">
                    currently working as a senior Research and Development engineer on multiple topics
                    and have sucessfully ideated, designed and developed some of the core solutions in electrical IOT domain
                </p>
            </div>            
        </div>
    </div>
</div>